
.sffl-nav {
    padding: 1rem;
    background-color: darkgrey;
    color: white;
    text-align: right;
    margin-right: 2%;
    font-size: large;
}

.sffl-content {
    font-size: small;
}

.sffl-title {
    width: 100%;
    background-color: #0a0a0a;
    text-align: center;
    color: #ffffff;
    font-size: medium;
}

.sffl-box{
width: 80% ;
    border-color: #bfbc00;
    border-width: 2px;
    border-style: solid;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}