<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'client/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'client/sffl.css' %}">
    <title>{% block title %}Single Page App{% endblock %}</title>
</head>
<body class='container'>
<div class="container sffl-nav">
 <span id="spinner"></span><span>Events Portal</span>
</div>
<div id="app">
</div>
</body>
{% load static %}
<script src="{% static "client/main.js" %}"></script>
</html>